label {
   font-weight: bold;
}

input[type=text] {
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit]{
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}


input[type=submit]:hover {
    background-color: white;
    color: black;
}


.comment{
    border: 2px;
    border-style: solid;
    padding : 5px;
    margin : 10px;
    weight : 50%;
}
/*
#comments{
    visibility: hidden;

}
*/