@(comment_list: List[Comment])
@main("ipsum dolor comment") {
 <form action="/" method="get">
    <label for="postId">Post ID:</label>
    <input type="text" id="postId" name="postId">
    <input type="submit" value="Get Comments" id="serachBtn">
  </form>
  <label for="searchComm">Search Comment Body:</label>
  <input type="text" id="searchComm" name="searchComm">
  <ul id = "comments">
      @comments_list(comment_list)
  </ul>
  <script src="@routes.Assets.versioned("javascripts/filter.js")" type="text/javascript"></script>
}
