@(comment_list: List[Comment] )

@main("ipsum dolor comment") {
  <form action="/">
    <label for="postID">Post ID:</label>
    <input type="text" id="postID" name="postID">
    <input type="submit" value="Get Comments" id="serachBtn">
    <br><br>
    <label for="serachComm">Search Comment Body:</label>
    <input type="text" id="serachComm" name="serachComm">
  </form>
    @for(comment <- comment_list) {
    <div class = "comment">
      <p>
        comment id: @comment.getId()
      </p>
      <p>
        comment body:
        <br>
        @comment.getBody()
      </p>
    </div>
    }
}
